<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 此处指向dao接口 -->
<mapper namespace="com.ss.ssdemo.dao.UserDao">
    <!-- 此处指向实体类 -->
    <resultMap id="BaseResultMap" type="com.ss.ssdemo.entity.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="perms" jdbcType="VARCHAR" property="perms" />
    </resultMap>
    <sql id="Base_Column_List">
    id, username, password,perms
  </sql>

    <!-- 根据username查找用户信息 -->
    <select id="findByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where username= #{username,jdbcType=VARCHAR}
    </select>

    <!-- 根据id查找用户信息 -->
    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>

